<h1>Minimal example to demo issue with eslint --fix</h1>
<ng-container>
	<ng-container>
		<ng-container>
			<ng-container>
				<ng-container>
					<ng-container>
						<ng-container>
							<app-test
								[labelStyle]="
									formGroup.controls[field.options.stateKey].value == '' &&
									formGroup.controls[field.options.stateKey].dirty
										? invalidLabelStyle
										: labelStyle
								"
							>
							</app-test>
						</ng-container>
					</ng-container>
				</ng-container>
			</ng-container>
		</ng-container>
	</ng-container>
</ng-container>